.cat-grid {
  display: grid;
  grid-column-gap: $s-size;
  grid-row-gap: $s-size;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: $xl-size;
}

.cat-grid a {
  text-decoration: none;
  color: $fourpaws-blue;
}

.cat-grid__item {
  padding: 1rem;
  text-decoration: none;
  min-width: 22rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cat-name {
  font-size: $font-size-xl;
  text-align: center;
  text-decoration: none;
}

.cat-pic-container {
  min-height: 20rem;
  position: relative;
}

.cat-pic {
  width: 20rem;

  display: block;
  margin: 0 auto;

  position: absolute;
  clip: rect(0rem, 20rem, 20rem, 0rem);

  left: 0;
  right: 0;

  border-radius: 5px;
}

.cat-short-desc {
  font-size: $font-size-medium;
  text-align: center;
}

.cat-date {
  font-size: 1.1rem;
  text-align: center;
}
