.cat-grid {
  display: grid;
  grid-column-gap: $s-size;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: $xl-size;
}

.cat-grid a {
  text-decoration: none;
  color: black;
}

.cat-grid__item {
  border: 2px grey solid;
  padding: 1rem;
  text-decoration: none;
}

.cat-name {
  font-size: $font-size-xl;
  text-align: center;
  text-decoration: none;
}

.cat-pic-container {
  min-height: 20rem;
  position: relative;
}

.cat-pic {
  width: 20rem;

  display: block;
  margin: 0 auto;

  position: absolute;
  clip: rect(0rem, 20rem, 20rem, 0rem);

  left: 0;
  right: 0;
}

.cat-date {
  text-decoration: none;
}
