.header {
  background: #ffffff;
  height: 8rem;
  margin-bottom: 0 auto;
  padding: $s-size;
}

.header__content {
  color: $fourpaws-blue;
  margin-left: 5rem;
  text-decoration: none;
}

.header__title {
  margin: 0;
  font-size: 4rem;
}
