.header {
  background: #ffffff;
  margin-bottom: 0 auto;
  padding: $s-size;
}

.header__content {
  margin-left: 5rem;
  color: $fourpaws-blue;
  text-decoration: none;
}

.header__title {
  margin: 0;
}
