// Widescreens
@include mediaXl {
}

// Desktops and Laptops
@include mediaLg {
}

// Tablets and Small Laptops
@include mediaMd {
  .banner__image {
    max-width: 100vw;
  }

  .content-container {
    padding: 5rem 3rem;
  }

  .header {
    display: none;
  }

  nav {
    .nav-container-wide {
      display: none;
    }

    .nav-container-narrow {
      display: block;
    }
  }
}

// Smartphones
@include mediaSm {
  .banner__image {
    max-width: 100vw;
  }

  .content-container {
    padding: 5rem 3rem;
  }

  .header {
    display: none;
  }

  nav {
    .nav-container-wide {
      display: none;
    }

    .nav-container-narrow {
      display: block;

      .title-mobile,
      .title-mobile .fa {
        font-size: 8.2vw;
      }
    }
  }

  .cat-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .cat-pic-container {
    min-height: 22rem;
    position: relative;
  }

  .cat-pic {
    width: 22rem;

    display: block;
    margin: 0 auto;

    position: absolute;
    clip: rect(0rem, 22rem, 22rem, 0rem);

    left: 0;
    right: 0;

    border-radius: 5px;
  }
}
