// Widescreens
@include mediaXl {
}

// Desktops and Laptops
@include mediaLg {
}

// Tablets and Small Laptops
@include mediaMd {
  .banner__image {
    max-width: 100vw;
  }

  .content-container {
    padding: 5rem 3rem;
  }

  .header {
    display: none;
  }

  nav {
    .nav-container-wide {
      display: none;
    }

    .nav-container-narrow {
      display: block;
    }
  }
}

// Smartphones
@include mediaSm {
  .banner__image {
    max-width: 100vw;
  }

  .content-container {
    padding: 5rem 3rem;
  }

  .header {
    display: none;
  }

  nav {
    .nav-container-wide {
      display: none;
    }

    .nav-container-narrow {
      display: block;
    }
  }
}
