.nav-container {
  background: $fourpaws-blue;
  padding: $xs-size 0;
}
.nav-list {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list__item {
  font-size: $font-size-xl;
  text-decoration: none;
  color: #ffffff;
}
